In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import our data into pandas from CSV

data_2021_path = 'data/SGU/2021.csv'
data_2020_path = 'data/SGU/2020.csv'
data_2019_path = 'data/SGU/2019.csv'
data_2018_path = 'data/SGU/2018.csv'
data_2017_path = 'data/SGU/2017.csv'
data_2016_path = 'data/SGU/2016.csv'
data_2015_path = 'data/SGU/2015.csv'
data_2014_path = 'data/SGU/2014.csv'
data_2013_path = 'data/SGU/2013.csv'
data_2012_path = 'data/SGU/2012.csv'
data_2011_path = 'data/SGU/2011.csv'
data_2010_path = 'data/SGU/2010.csv'
data_2009_path = 'data/SGU/2009.csv'
data_2008_path = 'data/SGU/2008.csv'
data_2007_path = 'data/SGU/2007.csv'
data_2006_path = 'data/SGU/2006.csv'
data_2005_path = 'data/SGU/2005.csv'
data_2004_path = 'data/SGU/2004.csv'
data_2003_path = 'data/SGU/2003.csv'
data_2002_path = 'data/SGU/2002.csv'
data_2001_path = 'data/SGU/2001.csv'

SGU_df_arr =[]

sgu_2021 = pd.read_csv(data_2021_path, low_memory=False)
sgu_2020 = pd.read_csv(data_2020_path, low_memory=False)
sgu_2019 = pd.read_csv(data_2019_path, low_memory=False)
sgu_2018 = pd.read_csv(data_2018_path, low_memory=False)
sgu_2017 = pd.read_csv(data_2017_path, low_memory=False)
sgu_2016 = pd.read_csv(data_2016_path, low_memory=False)
sgu_2015 = pd.read_csv(data_2015_path, low_memory=False)
sgu_2014 = pd.read_csv(data_2014_path, low_memory=False)
sgu_2013 = pd.read_csv(data_2013_path, low_memory=False)
sgu_2012 = pd.read_csv(data_2012_path, low_memory=False)
sgu_2011 = pd.read_csv(data_2011_path, low_memory=False)
sgu_2010 = pd.read_csv(data_2010_path, low_memory=False)
sgu_2009 = pd.read_csv(data_2009_path, low_memory=False)
sgu_2008 = pd.read_csv(data_2008_path, low_memory=False)
sgu_2007 = pd.read_csv(data_2007_path, low_memory=False)
sgu_2006 = pd.read_csv(data_2006_path, low_memory=False)
sgu_2005 = pd.read_csv(data_2005_path, low_memory=False)
sgu_2004 = pd.read_csv(data_2004_path, low_memory=False)
sgu_2003 = pd.read_csv(data_2003_path, low_memory=False)
sgu_2002 = pd.read_csv(data_2002_path, low_memory=False)
sgu_2001 = pd.read_csv(data_2001_path, low_memory=False)


SGU_df_arr.append (sgu_2001)
SGU_df_arr.append (sgu_2002)
SGU_df_arr.append (sgu_2003)
SGU_df_arr.append (sgu_2004)
SGU_df_arr.append (sgu_2005)
SGU_df_arr.append (sgu_2006)
SGU_df_arr.append (sgu_2007)
SGU_df_arr.append (sgu_2008)
SGU_df_arr.append (sgu_2009)
SGU_df_arr.append (sgu_2010)
SGU_df_arr.append (sgu_2011)
SGU_df_arr.append (sgu_2012)
SGU_df_arr.append (sgu_2013)
SGU_df_arr.append (sgu_2014)
SGU_df_arr.append (sgu_2015)
SGU_df_arr.append (sgu_2016)
SGU_df_arr.append (sgu_2017)
SGU_df_arr.append (sgu_2018)
SGU_df_arr.append (sgu_2019)
SGU_df_arr.append (sgu_2020)
SGU_df_arr.append (sgu_2021)

In [3]:
SGU_df_arr[2]

,Postcode,Jan 2003 - Installations Quantity,Jan 2003 - SGU Rated Output In kW,Feb 2003 - Installations Quantity,Feb 2003 - SGU Rated Output In kW,Mar 2003 - Installations Quantity,Mar 2003 - SGU Rated Output In kW,Apr 2003 - Installations Quantity,Apr 2003 - SGU Rated Output In kW,May 2003 - Installations Quantity,...,Aug 2003 - Installations Quantity,Aug 2003 - SGU Rated Output In kW,Sep 2003 - Installations Quantity,Sep 2003 - SGU Rated Output In kW,Oct 2003 - Installations Quantity,Oct 2003 - SGU Rated Output In kW,Nov 2003 - Installations Quantity,Nov 2003 - SGU Rated Output In kW,Dec 2003 - Installations Quantity,Dec 2003 - SGU Rated Output In kW
0,0,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,200,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,800,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,801,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,803,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,7469,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2791,7470,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2792,7802,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2793,8576,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2794,9729,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [4]:
historical_SGU_df = pd.merge(SGU_df_arr[0],SGU_df_arr[1], on = ["Postcode"], how = "outer")
historical_SGU_df

,Postcode,Apr 2001 - Installations Quantity,Apr 2001 - SGU Rated Output In kW,May 2001 - Installations Quantity,May 2001 - SGU Rated Output In kW,Jun 2001 - Installations Quantity,Jun 2001 - SGU Rated Output In kW,Jul 2001 - Installations Quantity,Jul 2001 - SGU Rated Output In kW,Aug 2001 - Installations Quantity,...,Aug 2002 - Installations Quantity,Aug 2002 - SGU Rated Output In kW,Sep 2002 - Installations Quantity,Sep 2002 - SGU Rated Output In kW,Oct 2002 - Installations Quantity,Oct 2002 - SGU Rated Output In kW,Nov 2002 - Installations Quantity,Nov 2002 - SGU Rated Output In kW,Dec 2002 - Installations Quantity,Dec 2002 - SGU Rated Output In kW
0,0,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,200,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,800,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,801,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,803,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,7469,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2791,7470,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2792,7802,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2793,8576,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2794,9729,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [5]:
for i in range(2,21):
    historical_SGU_df = pd.merge(historical_SGU_df,SGU_df_arr[i], on = ["Postcode"], how = "outer")
historical_SGU_df

,Postcode,Apr 2001 - Installations Quantity,Apr 2001 - SGU Rated Output In kW,May 2001 - Installations Quantity,May 2001 - SGU Rated Output In kW,Jun 2001 - Installations Quantity,Jun 2001 - SGU Rated Output In kW,Jul 2001 - Installations Quantity,Jul 2001 - SGU Rated Output In kW,Aug 2001 - Installations Quantity,...,Jan 2021 - Installations Quantity,Jan 2021 - SGU Rated Output In kW,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,35.2,1,6.63,1,6.66,0,0
3,801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2798,6219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2799,6614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2800,1685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,4.8
2801,6452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,6.6,0,0,0,0,0,0

In [6]:
historical_SGU_df.to_csv(r'data/SGU/historical_SGU.csv', index = False, header=True)

In [ ]:
# SGU_df_arr[1] = SGU_df_arr[1].T

# total_ins = SGU_df_arr[1].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].sum()
# total_ins.name = f"Total_installation_{2000+1}"
# avg_ins = SGU_df_arr[1].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].mean()
# avg_ins.name = f"AVG_installation_{2000+1}"

# total_output = SGU_df_arr[1].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].sum()
# total_output.name = f"Total_installation_{2000+1}"
# avg_output = SGU_df_arr[1].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].mean()
# avg_output.name = f"AVG_installation_{2000+1}"

# SGU_df_arr[1]= SGU_df_arr[1].append(avg_ins.transpose())
# SGU_df_arr[1] = SGU_df_arr[1].append(total_ins.transpose())
# SGU_df_arr[1]= SGU_df_arr[1].append(avg_output.transpose())
# SGU_df_arr[1] = SGU_df_arr[1].append(total_output.transpose())

# SGU_df_arr[1] = SGU_df_arr[1].T
# SGU_df_arr[1]

In [ ]:
# SGU_df_arr[1] = SGU_df_arr[1].T

# SGU_df_arr[1]

In [ ]:
# total_ins = SGU_df_arr[1].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].sum()
# total_ins.name = f"Total_Installation_{2000+1}"
# avg_ins = SGU_df_arr[1].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].mean()
# avg_ins.name = f"AVG_Installation_{2000+1}"

# total_output = SGU_df_arr[1].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].sum()
# total_output.name = f"Total_Output_{2000+1}"
# avg_output = SGU_df_arr[1].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].mean()
# avg_output.name = f"AVG_Output_{2000+1}"

# SGU_df_arr[1]

In [ ]:
# SGU_df_arr[1]= SGU_df_arr[1].append(avg_ins.transpose())
# SGU_df_arr[1] = SGU_df_arr[1].append(total_ins.transpose())
# SGU_df_arr[1]= SGU_df_arr[1].append(avg_output.transpose())
# SGU_df_arr[1] = SGU_df_arr[1].append(total_output.transpose())

# SGU_df_arr[1]

In [ ]:
# SGU_df_arr[1] = SGU_df_arr[1].T
# # SGU_df_arr[1]

In [ ]:
# SGU_df_arr[1] = SGU_df_arr[1].T

# total_ins = SGU_df_arr[1].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].sum()
# total_ins.name = f"Total_Installation_{2000+1}"
# avg_ins = SGU_df_arr[1].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].mean()
# avg_ins.name = f"AVG_Installation_{2000+1}"

# total_output = SGU_df_arr[1].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].sum()
# total_output.name = f"Total_Output_{2000+1}"
# avg_output = SGU_df_arr[1].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].mean()
# avg_output.name = f"AVG_Output_{2000+1}"

# SGU_df_arr[1]= SGU_df_arr[1].append(avg_ins.transpose())
# SGU_df_arr[1] = SGU_df_arr[1].append(total_ins.transpose())
# SGU_df_arr[1]= SGU_df_arr[1].append(avg_output.transpose())
# SGU_df_arr[1] = SGU_df_arr[1].append(total_output.transpose())

# SGU_df_arr[1] = SGU_df_arr[1].T
# SGU_df_arr[1]

In [ ]:
SGU_df_arr[0]

In [ ]:
SGU_df_arr[0].dtypes

In [ ]:
SGU_df_arr[0] = SGU_df_arr[0].T

total_ins = SGU_df_arr[0].iloc[[1,3,5,7,9,11,13,15,17],:].sum()
total_ins.name = f"Total_Installation_{2000+1}"
avg_ins = SGU_df_arr[0].iloc[[1,3,5,7,9,11,13,15,17],:].mean()
avg_ins.name = f"AVG_Installation_{2000+1}"

total_output = SGU_df_arr[0].iloc[[2,4,6,8,10,12,14,16,18],:].sum()
total_output.name = f"Total_Output_{2000+1}"
avg_output = SGU_df_arr[0].iloc[[2,4,6,8,10,12,14,16,18],:].mean()
avg_output.name = f"AVG_Output_{2000+1}"

SGU_df_arr[0]= SGU_df_arr[0].append(avg_ins.transpose())
SGU_df_arr[0] = SGU_df_arr[0].append(total_ins.transpose())
SGU_df_arr[0]= SGU_df_arr[0].append(avg_output.transpose())
SGU_df_arr[0] = SGU_df_arr[0].append(total_output.transpose())

SGU_df_arr[0] = SGU_df_arr[0].T
SGU_df_arr[0] = SGU_df_arr[0].round(decimals=2)
SGU_df_arr[0]

In [7]:
SGU_df_arr[20]

,Postcode,Jan 2021 - Installations Quantity,Jan 2021 - SGU Rated Output In kW,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW
0,0,0,0,0,0,0,0,0,0,0,0
1,200,0,0,0,0,0,0,0,0,0,0
2,800,0,0,1,35.2,1,6.63,1,6.66,0,0
3,801,0,0,0,0,0,0,0,0,0,0
4,803,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2797,7469,0,0,0,0,2,13.32,0,0,0,0
2798,7470,0,0,0,0,0,0,0,0,0,0
2799,7802,0,0,0,0,0,0,0,0,0,0
2800,8576,0,0,0,0,0,0,0,0,0,0
2801,9729,0,0,0,0,0,0,0,0,0,0

In [9]:
# SGU_df_arr[20] = SGU_df_arr[20].apply(pd.to_numeric)
SGU_df_arr[20] = SGU_df_arr[20].T

total_ins = SGU_df_arr[20].iloc[[1,3,5,7,9],:].sum()
total_ins.name = f"Total_Installation_{2000+21}"
avg_ins = SGU_df_arr[20].iloc[[1,3,5,7,9],:].mean()
avg_ins.name = f"AVG_Installation_{2000+21}"

total_output = SGU_df_arr[20].iloc[[2,4,6,8,10],:].sum()
total_output.name = f"Total_Output_{2000+21}"
avg_output = SGU_df_arr[20].iloc[[2,4,6,8,10],:].mean()
avg_output.name = f"AVG_Output_{2000+21}"

SGU_df_arr[20]= SGU_df_arr[20].append(avg_ins.transpose())
SGU_df_arr[20] = SGU_df_arr[20].append(total_ins.transpose())
SGU_df_arr[20]= SGU_df_arr[20].append(avg_output.transpose())
SGU_df_arr[20] = SGU_df_arr[20].append(total_output.transpose())

SGU_df_arr[20] = SGU_df_arr[20].T
SGU_df_arr[20] = SGU_df_arr[20].round(decimals=2)
SGU_df_arr[20]

,Postcode,Jan 2021 - Installations Quantity,Jan 2021 - SGU Rated Output In kW,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,AVG_Installation_2021,Total_Installation_2021,AVG_Output_2021,Total_Output_2021
0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
1,200,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
2,800,0,0,1,35.2,1,6.63,1,6.66,0,0,0.6,3,NaN,035.26.636.660
3,801,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
4,803,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,7469,0,0,0,0,2,13.32,0,0,0,0,0.4,2,2.664,0013.3200
2798,7470,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
2799,7802,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
2800,8576,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000
2801,9729,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0,00000

In [10]:
SGU_df_arr[20].dtypes

Postcode                             object
Jan 2021 - Installations Quantity    object
Jan 2021 - SGU Rated Output In kW    object
Feb 2021 - Installations Quantity    object
Feb 2021 - SGU Rated Output In kW    object
Mar 2021 - Installations Quantity    object
Mar 2021 - SGU Rated Output In kW    object
Apr 2021 - Installations Quantity    object
Apr 2021 - SGU Rated Output In kW    object
May 2021 - Installations Quantity    object
May 2021 - SGU Rated Output In kW    object
AVG_Installation_2021                object
Total_Installation_2021              object
AVG_Output_2021                      object
Total_Output_2021                    object
dtype: object

In [ ]:
for i in range(1,20):
    SGU_df_arr[i] = SGU_df_arr[i].T
    total_ins = SGU_df_arr[i].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].sum()
    total_ins.name = f"Total_Installation_{2000+i+1}"
    avg_ins = SGU_df_arr[i].iloc[[1,3,5,7,9,11,13,15,17,19,21,23],:].mean()
    avg_ins.name = f"AVG_Installation_{2000+i+1}"

    total_output = SGU_df_arr[i].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].sum()
    total_output.name = f"Total_Output_{2000+i+1}"
    avg_output = SGU_df_arr[i].iloc[[2,4,6,8,10,12,14,16,18,20,22,24],:].mean()
    avg_output.name = f"AVG_Output_{2000+i+1}"

    SGU_df_arr[i]= SGU_df_arr[i].append(avg_ins.transpose())
    SGU_df_arr[i] = SGU_df_arr[i].append(total_ins.transpose())
    SGU_df_arr[i]= SGU_df_arr[i].append(avg_output.transpose())
    SGU_df_arr[i] = SGU_df_arr[i].append(total_output.transpose())

    SGU_df_arr[i] = SGU_df_arr[i].T
    SGU_df_arr[i] = SGU_df_arr[i].round(decimals=2)

In [ ]:
SGU_df_arr[19].dtypes